AVM_Client/xml-resources/web-service-references/ImagesSecure/wsdl/localhost_80/AVM_Server/ImagesSecure.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://secure.images.server.sv.avl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://secure.images.server.sv.avl/" name="ImagesSecure">
<types>
<xsd:schema>
<xsd:import namespace="http://secure.images.server.sv.avl/" schemaLocation="http://localhost:80/AVM_Server/ImagesSecure?xsd=1"/>
</xsd:schema>
</types>
<message name="getDescription">
<part name="parameters" element="tns:getDescription"/>
</message>
<message name="getDescriptionResponse">
<part name="parameters" element="tns:getDescriptionResponse"/>
</message>
<message name="deleteImage">
<part name="parameters" element="tns:deleteImage"/>
</message>
<message name="deleteImageResponse">
<part name="parameters" element="tns:deleteImageResponse"/>
</message>
<message name="imagePostInit">
<part name="parameters" element="tns:imagePostInit"/>
</message>
<message name="imagePostInitResponse">
<part name="parameters" element="tns:imagePostInitResponse"/>
</message>
<message name="getOwnedSets">
<part name="parameters" element="tns:getOwnedSets"/>
</message>
<message name="getOwnedSetsResponse">
<part name="parameters" element="tns:getOwnedSetsResponse"/>
</message>
<message name="setImageDescription">
<part name="parameters" element="tns:setImageDescription"/>
</message>
<message name="setImageDescriptionResponse">
<part name="parameters" element="tns:setImageDescriptionResponse"/>
</message>
<portType name="ImagesSecure">
<operation name="getDescription">
<input wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/getDescriptionRequest" message="tns:getDescription"/>
<output wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/getDescriptionResponse" message="tns:getDescriptionResponse"/>
</operation>
<operation name="deleteImage">
<input wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/deleteImageRequest" message="tns:deleteImage"/>
<output wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/deleteImageResponse" message="tns:deleteImageResponse"/>
</operation>
<operation name="imagePostInit">
<input wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/imagePostInitRequest" message="tns:imagePostInit"/>
<output wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/imagePostInitResponse" message="tns:imagePostInitResponse"/>
</operation>
<operation name="getOwnedSets">
<input wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/getOwnedSetsRequest" message="tns:getOwnedSets"/>
<output wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/getOwnedSetsResponse" message="tns:getOwnedSetsResponse"/>
</operation>
<operation name="setImageDescription">
<input wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/setImageDescriptionRequest" message="tns:setImageDescription"/>
<output wsam:Action="http://secure.images.server.sv.avl/ImagesSecure/setImageDescriptionResponse" message="tns:setImageDescriptionResponse"/>
</operation>
</portType>
<binding name="ImagesSecurePortBinding" type="tns:ImagesSecure">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imagePostInit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOwnedSets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setImageDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImagesSecure">
<port name="ImagesSecurePort" binding="tns:ImagesSecurePortBinding">
<soap:address location="http://localhost:80/AVM_Server/ImagesSecure"/>
</port>
</service>
</definitions>