AVM_Client/src/META-INF/wsdl/localhost_80/AVM_Server/Images.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://images.server.sv.avl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://images.server.sv.avl/" name="Images">
<types>
<xsd:schema>
<xsd:import namespace="http://images.server.sv.avl/" schemaLocation="http://localhost:80/AVM_Server/Images?xsd=1"/>
</xsd:schema>
</types>
<message name="getImageInfo">
<part name="parameters" element="tns:getImageInfo"/>
</message>
<message name="getImageInfoResponse">
<part name="parameters" element="tns:getImageInfoResponse"/>
</message>
<message name="getJpegTables">
<part name="parameters" element="tns:getJpegTables"/>
</message>
<message name="getJpegTablesResponse">
<part name="parameters" element="tns:getJpegTablesResponse"/>
</message>
<message name="imagePostTile">
<part name="parameters" element="tns:imagePostTile"/>
</message>
<message name="imagePostTileResponse">
<part name="parameters" element="tns:imagePostTileResponse"/>
</message>
<message name="getImageSets">
<part name="parameters" element="tns:getImageSets"/>
</message>
<message name="getImageSetsResponse">
<part name="parameters" element="tns:getImageSetsResponse"/>
</message>
<message name="getTile">
<part name="parameters" element="tns:getTile"/>
</message>
<message name="getTileResponse">
<part name="parameters" element="tns:getTileResponse"/>
</message>
<message name="imagePostSetupDirectory">
<part name="parameters" element="tns:imagePostSetupDirectory"/>
</message>
<message name="imagePostSetupDirectoryResponse">
<part name="parameters" element="tns:imagePostSetupDirectoryResponse"/>
</message>
<message name="imagePostFinalize">
<part name="parameters" element="tns:imagePostFinalize"/>
</message>
<message name="imagePostFinalizeResponse">
<part name="parameters" element="tns:imagePostFinalizeResponse"/>
</message>
<portType name="Images">
<operation name="getImageInfo">
<input wsam:Action="http://images.server.sv.avl/Images/getImageInfoRequest" message="tns:getImageInfo"/>
<output wsam:Action="http://images.server.sv.avl/Images/getImageInfoResponse" message="tns:getImageInfoResponse"/>
</operation>
<operation name="getJpegTables">
<input wsam:Action="http://images.server.sv.avl/Images/getJpegTablesRequest" message="tns:getJpegTables"/>
<output wsam:Action="http://images.server.sv.avl/Images/getJpegTablesResponse" message="tns:getJpegTablesResponse"/>
</operation>
<operation name="imagePostTile">
<input wsam:Action="http://images.server.sv.avl/Images/imagePostTileRequest" message="tns:imagePostTile"/>
<output wsam:Action="http://images.server.sv.avl/Images/imagePostTileResponse" message="tns:imagePostTileResponse"/>
</operation>
<operation name="getImageSets">
<input wsam:Action="http://images.server.sv.avl/Images/getImageSetsRequest" message="tns:getImageSets"/>
<output wsam:Action="http://images.server.sv.avl/Images/getImageSetsResponse" message="tns:getImageSetsResponse"/>
</operation>
<operation name="getTile">
<input wsam:Action="http://images.server.sv.avl/Images/getTileRequest" message="tns:getTile"/>
<output wsam:Action="http://images.server.sv.avl/Images/getTileResponse" message="tns:getTileResponse"/>
</operation>
<operation name="imagePostSetupDirectory">
<input wsam:Action="http://images.server.sv.avl/Images/imagePostSetupDirectoryRequest" message="tns:imagePostSetupDirectory"/>
<output wsam:Action="http://images.server.sv.avl/Images/imagePostSetupDirectoryResponse" message="tns:imagePostSetupDirectoryResponse"/>
</operation>
<operation name="imagePostFinalize">
<input wsam:Action="http://images.server.sv.avl/Images/imagePostFinalizeRequest" message="tns:imagePostFinalize"/>
<output wsam:Action="http://images.server.sv.avl/Images/imagePostFinalizeResponse" message="tns:imagePostFinalizeResponse"/>
</operation>
</portType>
<binding name="ImagesPortBinding" type="tns:Images">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getImageInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJpegTables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imagePostTile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImageSets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imagePostSetupDirectory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imagePostFinalize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Images">
<port name="ImagesPort" binding="tns:ImagesPortBinding">
<soap:address location="http://localhost:80/AVM_Server/Images"/>
</port>
</service>
</definitions>