AVM_Client/src/META-INF/wsdl/localhost_80/AVM_Server/LoginPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.sv.avl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.sv.avl/" name="LoginPort">
<types>
<xsd:schema>
<xsd:import namespace="http://server.sv.avl/" schemaLocation="http://localhost:80/AVM_Server/LoginPort?xsd=1"/>
</xsd:schema>
</types>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="keepAlive">
<part name="parameters" element="tns:keepAlive"/>
</message>
<message name="keepAliveResponse">
<part name="parameters" element="tns:keepAliveResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<portType name="LoginPort">
<operation name="registerUser">
<input wsam:Action="http://server.sv.avl/LoginPort/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://server.sv.avl/LoginPort/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://server.sv.avl/LoginPort/loginRequest" message="tns:login"/>
<output wsam:Action="http://server.sv.avl/LoginPort/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="keepAlive">
<input wsam:Action="http://server.sv.avl/LoginPort/keepAliveRequest" message="tns:keepAlive"/>
<output wsam:Action="http://server.sv.avl/LoginPort/keepAliveResponse" message="tns:keepAliveResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://server.sv.avl/LoginPort/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://server.sv.avl/LoginPort/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
</portType>
<binding name="LoginPortPortBinding" type="tns:LoginPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="keepAlive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginPort">
<port name="LoginPortPort" binding="tns:LoginPortPortBinding">
<soap:address location="http://localhost:80/AVM_Server/LoginPort"/>
</port>
</service>
</definitions>