AVM_Client/xml-resources/web-service-references/StudyPort/wsdl/localhost_80/AVM_Server/StudyPort.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://study.server.sv.avl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://study.server.sv.avl/">

<xs:element name="cloneStudy" type="tns:cloneStudy"/>

<xs:element name="cloneStudyResponse" type="tns:cloneStudyResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="getAnnotationSetXML" type="tns:getAnnotationSetXML"/>

<xs:element name="getAnnotationSetXMLResponse" type="tns:getAnnotationSetXMLResponse"/>

<xs:element name="getDescription" type="tns:getDescription"/>

<xs:element name="getDescriptionResponse" type="tns:getDescriptionResponse"/>

<xs:element name="getImageReferenceSetsXML" type="tns:getImageReferenceSetsXML"/>

<xs:element name="getImageReferenceSetsXMLResponse" type="tns:getImageReferenceSetsXMLResponse"/>

<xs:element name="getList" type="tns:getList"/>

<xs:element name="getListResponse" type="tns:getListResponse"/>

<xs:element name="getName" type="tns:getName"/>

<xs:element name="getNameResponse" type="tns:getNameResponse"/>

<xs:element name="getPermissions" type="tns:getPermissions"/>

<xs:element name="getPermissionsResponse" type="tns:getPermissionsResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="setDescription" type="tns:setDescription"/>

<xs:element name="setDescriptionResponse" type="tns:setDescriptionResponse"/>

<xs:element name="setName" type="tns:setName"/>

<xs:element name="setNameResponse" type="tns:setNameResponse"/>

<xs:element name="setPermissions" type="tns:setPermissions"/>

<xs:element name="setPermissionsResponse" type="tns:setPermissionsResponse"/>

<xs:complexType name="getPermissions">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="targerUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPermissionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnnotationSetXML">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="ImageReferenceXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnnotationSetXMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getName">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setName">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="newName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPermissions">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="session.username" type="xs:string" minOccurs="0"/>
<xs:element name="permission" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPermissionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDescription">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDescription">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cloneStudy">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="cloneName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cloneStudyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImageReferenceSetsXML">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImageReferenceSetsXMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>