AVM_Client/xml-resources/web-service-references/StudyPort/wsdl/localhost_80/AVM_Server/StudyPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://study.server.sv.avl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://study.server.sv.avl/" name="StudyPort">
<types>
<xsd:schema>
<xsd:import namespace="http://study.server.sv.avl/" schemaLocation="http://localhost:80/AVM_Server/StudyPort?xsd=1"/>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="getPermissions">
<part name="parameters" element="tns:getPermissions"/>
</message>
<message name="getPermissionsResponse">
<part name="parameters" element="tns:getPermissionsResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="setName">
<part name="parameters" element="tns:setName"/>
</message>
<message name="setNameResponse">
<part name="parameters" element="tns:setNameResponse"/>
</message>
<message name="setPermissions">
<part name="parameters" element="tns:setPermissions"/>
</message>
<message name="setPermissionsResponse">
<part name="parameters" element="tns:setPermissionsResponse"/>
</message>
<message name="getDescription">
<part name="parameters" element="tns:getDescription"/>
</message>
<message name="getDescriptionResponse">
<part name="parameters" element="tns:getDescriptionResponse"/>
</message>
<message name="setDescription">
<part name="parameters" element="tns:setDescription"/>
</message>
<message name="setDescriptionResponse">
<part name="parameters" element="tns:setDescriptionResponse"/>
</message>
<message name="getAnnotationSetXML">
<part name="parameters" element="tns:getAnnotationSetXML"/>
</message>
<message name="getAnnotationSetXMLResponse">
<part name="parameters" element="tns:getAnnotationSetXMLResponse"/>
</message>
<message name="getImageReferenceSetsXML">
<part name="parameters" element="tns:getImageReferenceSetsXML"/>
</message>
<message name="getImageReferenceSetsXMLResponse">
<part name="parameters" element="tns:getImageReferenceSetsXMLResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="cloneStudy">
<part name="parameters" element="tns:cloneStudy"/>
</message>
<message name="cloneStudyResponse">
<part name="parameters" element="tns:cloneStudyResponse"/>
</message>
<portType name="StudyPort">
<operation name="getName">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://study.server.sv.avl/StudyPort/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getPermissions">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getPermissionsRequest" message="tns:getPermissions"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getPermissionsResponse" message="tns:getPermissionsResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://study.server.sv.avl/StudyPort/createRequest" message="tns:create"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/createResponse" message="tns:createResponse"/>
</operation>
<operation name="setName">
<input wsam:Action="http://study.server.sv.avl/StudyPort/setNameRequest" message="tns:setName"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/setNameResponse" message="tns:setNameResponse"/>
</operation>
<operation name="setPermissions">
<input wsam:Action="http://study.server.sv.avl/StudyPort/setPermissionsRequest" message="tns:setPermissions"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/setPermissionsResponse" message="tns:setPermissionsResponse"/>
</operation>
<operation name="getDescription">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getDescriptionRequest" message="tns:getDescription"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getDescriptionResponse" message="tns:getDescriptionResponse"/>
</operation>
<operation name="setDescription">
<input wsam:Action="http://study.server.sv.avl/StudyPort/setDescriptionRequest" message="tns:setDescription"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/setDescriptionResponse" message="tns:setDescriptionResponse"/>
</operation>
<operation name="getAnnotationSetXML">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getAnnotationSetXMLRequest" message="tns:getAnnotationSetXML"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getAnnotationSetXMLResponse" message="tns:getAnnotationSetXMLResponse"/>
</operation>
<operation name="getImageReferenceSetsXML">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getImageReferenceSetsXMLRequest" message="tns:getImageReferenceSetsXML"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getImageReferenceSetsXMLResponse" message="tns:getImageReferenceSetsXMLResponse"/>
</operation>
<operation name="getList">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getListRequest" message="tns:getList"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://study.server.sv.avl/StudyPort/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="cloneStudy">
<input wsam:Action="http://study.server.sv.avl/StudyPort/cloneStudyRequest" message="tns:cloneStudy"/>
<output wsam:Action="http://study.server.sv.avl/StudyPort/cloneStudyResponse" message="tns:cloneStudyResponse"/>
</operation>
</portType>
<binding name="StudyPortPortBinding" type="tns:StudyPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnnotationSetXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImageReferenceSetsXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cloneStudy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudyPort">
<port name="StudyPortPort" binding="tns:StudyPortPortBinding">
<soap:address location="http://localhost:80/AVM_Server/StudyPort"/>
</port>
</service>
</definitions>