AVM_Client/xml-resources/web-service-references/SolutionPort/wsdl/localhost_80/AVM_Server/SolutionPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://solution.server.sv.avl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://solution.server.sv.avl/" name="SolutionPort">
<types>
<xsd:schema>
<xsd:import namespace="http://solution.server.sv.avl/" schemaLocation="http://localhost:80/AVM_Server/SolutionPort?xsd=1"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="clone">
<part name="parameters" element="tns:clone"/>
</message>
<message name="cloneResponse">
<part name="parameters" element="tns:cloneResponse"/>
</message>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="getPermissions">
<part name="parameters" element="tns:getPermissions"/>
</message>
<message name="getPermissionsResponse">
<part name="parameters" element="tns:getPermissionsResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="setName">
<part name="parameters" element="tns:setName"/>
</message>
<message name="setNameResponse">
<part name="parameters" element="tns:setNameResponse"/>
</message>
<message name="set">
<part name="parameters" element="tns:set"/>
</message>
<message name="setResponse">
<part name="parameters" element="tns:setResponse"/>
</message>
<message name="getDescription">
<part name="parameters" element="tns:getDescription"/>
</message>
<message name="getDescriptionResponse">
<part name="parameters" element="tns:getDescriptionResponse"/>
</message>
<message name="setDescription">
<part name="parameters" element="tns:setDescription"/>
</message>
<message name="setDescriptionResponse">
<part name="parameters" element="tns:setDescriptionResponse"/>
</message>
<message name="setPermissions">
<part name="parameters" element="tns:setPermissions"/>
</message>
<message name="setPermissionsResponse">
<part name="parameters" element="tns:setPermissionsResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getSolutionsList">
<part name="parameters" element="tns:getSolutionsList"/>
</message>
<message name="getSolutionsListResponse">
<part name="parameters" element="tns:getSolutionsListResponse"/>
</message>
<message name="trainClassifier">
<part name="parameters" element="tns:trainClassifier"/>
</message>
<message name="trainClassifierResponse">
<part name="parameters" element="tns:trainClassifierResponse"/>
</message>
<message name="getFeatures">
<part name="parameters" element="tns:getFeatures"/>
</message>
<message name="getFeaturesResponse">
<part name="parameters" element="tns:getFeaturesResponse"/>
</message>
<message name="cancelMonitor">
<part name="parameters" element="tns:cancelMonitor"/>
</message>
<message name="cancelMonitorResponse">
<part name="parameters" element="tns:cancelMonitorResponse"/>
</message>
<message name="getProgress">
<part name="parameters" element="tns:getProgress"/>
</message>
<message name="getProgressResponse">
<part name="parameters" element="tns:getProgressResponse"/>
</message>
<message name="generateInDatabase">
<part name="parameters" element="tns:generateInDatabase"/>
</message>
<message name="generateInDatabaseResponse">
<part name="parameters" element="tns:generateInDatabaseResponse"/>
</message>
<portType name="SolutionPort">
<operation name="get">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getRequest" message="tns:get"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getResponse" message="tns:getResponse"/>
</operation>
<operation name="clone">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/cloneRequest" message="tns:clone"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/cloneResponse" message="tns:cloneResponse"/>
</operation>
<operation name="getName">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getPermissions">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getPermissionsRequest" message="tns:getPermissions"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getPermissionsResponse" message="tns:getPermissionsResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/createRequest" message="tns:create"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/createResponse" message="tns:createResponse"/>
</operation>
<operation name="setName">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/setNameRequest" message="tns:setName"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/setNameResponse" message="tns:setNameResponse"/>
</operation>
<operation name="set">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/setRequest" message="tns:set"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/setResponse" message="tns:setResponse"/>
</operation>
<operation name="getDescription">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getDescriptionRequest" message="tns:getDescription"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getDescriptionResponse" message="tns:getDescriptionResponse"/>
</operation>
<operation name="setDescription">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/setDescriptionRequest" message="tns:setDescription"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/setDescriptionResponse" message="tns:setDescriptionResponse"/>
</operation>
<operation name="setPermissions">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/setPermissionsRequest" message="tns:setPermissions"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/setPermissionsResponse" message="tns:setPermissionsResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="getSolutionsList">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getSolutionsListRequest" message="tns:getSolutionsList"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getSolutionsListResponse" message="tns:getSolutionsListResponse"/>
</operation>
<operation name="trainClassifier">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/trainClassifierRequest" message="tns:trainClassifier"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/trainClassifierResponse" message="tns:trainClassifierResponse"/>
</operation>
<operation name="getFeatures">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getFeaturesRequest" message="tns:getFeatures"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getFeaturesResponse" message="tns:getFeaturesResponse"/>
</operation>
<operation name="cancelMonitor">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/cancelMonitorRequest" message="tns:cancelMonitor"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/cancelMonitorResponse" message="tns:cancelMonitorResponse"/>
</operation>
<operation name="getProgress">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/getProgressRequest" message="tns:getProgress"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/getProgressResponse" message="tns:getProgressResponse"/>
</operation>
<operation name="generateInDatabase">
<input wsam:Action="http://solution.server.sv.avl/SolutionPort/generateInDatabaseRequest" message="tns:generateInDatabase"/>
<output wsam:Action="http://solution.server.sv.avl/SolutionPort/generateInDatabaseResponse" message="tns:generateInDatabaseResponse"/>
</operation>
</portType>
<binding name="SolutionPortPortBinding" type="tns:SolutionPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="set">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSolutionsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trainClassifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFeatures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelMonitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProgress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generateInDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SolutionPort">
<port name="SolutionPortPort" binding="tns:SolutionPortPortBinding">
<soap:address location="http://localhost:80/AVM_Server/SolutionPort"/>
</port>
</service>
</definitions>